<dom-module id="cells-icon-styles"><template><style>
@charset "UTF-8";
:host {
  display: inline-block;
  box-sizing: border-box;
  font-family: var(--cells-fontDefault, sans-serif);
  @apply --cells-icon; }

.icon-container {
  /* esta var display no está en la última versión 0.0.2 */
  display: var(--cells-icon-container-display, block);
  padding-left: var(--cells-icon-padding-left, 1rem);
  padding-top: var(--cells-icon-padding-top, 0.5em);
  @apply --cells-icon; }

span {
  display: var(--cells-icon-display, block);
  @apply --cells-icon; }

.default {
  color: var(--cells-icon-color-default, gray);
  @apply --cells-icon; }

.red {
  color: var(--cells-icon-color-red, red);
  @apply --cells-icon; }

.blue {
  color: var(--cells-icon-color-blue, blue);
  @apply --cells-icon; }

.green {
  color: var(--cells-icon-color-green, green);
  @apply --cells-icon; }

:host([hidden]), [hidden] {
  display: none !important; }

*, *:before, *:after {
  font: inherit;
  box-sizing: inherit; }

</style></template></dom-module>