<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="cells-icon-styles.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<!-- Este import debe ir en el demo, es el que el usuario eligirá -->
<link rel="import" href="../iron-icons/image-icons.html">
<dom-module id="cells-icon">
  <template>
    <style include="cells-icon-styles"></style>
        <template is="dom-repeat" items="{{list}}">
          <div class="icon-container">
            <iron-icon class$="{{item.color}}" icon="{{item.icon}}" on-click="clickedIcon"></iron-icon>
            <span>{{item.value}}</span>
          </div>
        </template>
  </template>
  <script src="cells-icon.js"></script>
</dom-module>